.sidenav {
    background-color: rgb(0, 15, 0);
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.nav-list a {
    padding-top: 3px;
}

.content {
    padding: 16px;
    background-color: rgb(0, 0, 0);
}