.home{
    background-color: rgb(219, 223, 222);
    padding:10em;
}

.home .title {
    color:  black;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.home .subtitle {
    font-size: 1rem;
    color: black;
}