<mat-card>
    <mat-card-title>Você está prestes a apagar este produto:</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [value]="product.name" name = "name" disabled/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço (R$)" [value]="product.price" name = "price" disabled/>
      </mat-form-field>
    </form>
  </mat-card>
  
  <button mat-stroked-button class="deleteProduct" (click)="deleteProduct()">
    Apagar Produto
  </button>
  
  <button mat-flat-button class="cancelProd" (click)="cancel()">Cancelar</button>
  