/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: black;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.green {
    color: rgba(110, 192, 78, 0.831)
}

.green-lighter {
    color: #3bc902e0
}

.red {
    color: #fa1a1a
}   

.v-middle {
    vertical-align: middle;
}

.class-success {
    background-color: #3bc902e0 !important;
    color: white !important;
}
